@tailwind base;
@tailwind components;
@tailwind utilities;

body {
        height: 100%;
        background-color: #E5E5E5;
}

@media (min-width:200px) {
 .xm-grid-cols-2 {
  grid-template-columns: repeat(1, 1fr);
}
.container-padding {
        padding: 5px;
}
.xsm-full {
        width: 100%;
}
.carousel-image {
        max-height: 196.28px;
}
}

@media (min-width:400px) {
 .xm-grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.container-padding {
        padding: 5px;
}
.xsm-full {
        width: 100%;
}
}

